name: Test Ubuntu and macOS

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test_ubuntu_and_macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        shell: bash
        run: |
          pip install setuptools wheel

      - name: Build lilcom
        shell: bash
        run: |
          mkdir build
          cd build
          cmake ..
          make -j 2

      - name: Show RPATH
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          readelf -d build/lib/*.so

      - name: Show RPATH
        if: startsWith(matrix.os, 'macos')
        shell: bash
        run: |
          otool -L build/lib/*.so
          echo "-----------"
          otool -l build/lib/*.so

      - name: Run tests
        shell: bash
        run: |
          python3 -m pip install numpy
          cd build
          ctest --verbose --output-on-failure

